<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbilisi.bus"
    android:versionCode="2"
    android:versionName="Beta 2">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".A"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_launcher"
            android:name=".MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".CameraActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ScheduleActivity"
            android:label="@string/buses"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".InputActivity"
            android:label="@string/input_hint"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".HistoryActivity"
            android:label="@string/history"/>
    </application>
</manifest> 
