android {
	signingConfigs {
		release {
			storeFile file("keystore file")
			storePassword "keystore password"
			keyAlias "key alias"
			keyPassword "key password"
		}
	}

	buildTypes {
		release {
			signingConfig signingConfigs.release
		}
	}
}