html, body {
    /*padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #222;*/
    color: #FF2626;
    font-weight: bold;
}

table {
    width:100%;
}

.arrivalTableRouteNumberHeader, .arrivalTableStopNameHeader, .arrivalTableArrivalTimeHeader {
    text-align: left;
    display: none;
}

.arrivalTimesInnerTable {
    padding-left: 5px;
    padding-top: 5px;
}

.arrivalTimesInnerTable td {
    padding-left: 5px;
    padding-bottom: 5px;
}

.arrivalTimesInnerTable td:last-child::after {
    content: "წთ";
    color: #FF6E6E;
}

td {
    text-overflow: ellipsis;
}